<div class="modal-body">

    <div class="row">

        <div class="col-lg-12">

            <div class="tabs-container">
                <form>
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            Informacion de Producto
                        </uib-tab-heading>
                        <div class="panel-body">

                            <fieldset class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">Nombre:</label>
                                    <div class="col-sm-10">
                                    <input ng-model="newProd.nombre" type="text" class="form-control" placeholder="Nombre del producto"
                                    ></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Categoria:</label>
                                    <div class="col-sm-10">
                                        <select ng-model="newProd.categoria" ng-options="categoria as categoria.nombre for categoria in categorias" class="form-control m-b" name="categoria" >                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Precio:</label>
                                    <div class="col-sm-10"><div class="input-group m-b"><span class="input-group-addon">$</span> <input ng-model="newProd.valor" type="text" class="form-control">
                                    </div></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Costo:</label>
                                    <div class="col-sm-10"><div class="input-group m-b"><span class="input-group-addon">$</span> <input ng-model="newProd.costo" type="text" class="form-control">
                                    </div></div>
                                </div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
                                    <div class="col-sm-10"><textarea rows="5" ng-model="newProd.descripcion" class="form-control"></textarea></div>
                                </div>
                            </fieldset>

                        </div>
                    </uib-tab>
                    
                    <uib-tab>
                        <uib-tab-heading>
                            Datos Adicionales
                        </uib-tab-heading>
                        <div class="panel-body">
                            <fieldset class="form-horizontal">                                
                                <div class="form-group"><label class="col-sm-2 control-label">Medida:</label>
                                    <div class="col-sm-10"><select ng-model="newProd.unidad" ng-options="unidad as unidad.plural for unidad in unidades" class="form-control m-b" name="uniSel" ></select></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Proveedor:</label>
                                    <div class="col-sm-10">                                        
                                        <select ng-model="newProd.proveedor" ng-options="proveedor as proveedor.nombre for proveedor in proveedores" class="form-control m-b" name="proveedorsel" >                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group tresde-up-container">
                                <div class=" {{tresdeStartVisibleClass}}">
                                    <label class="col-sm-2 control-label">Marca:</label>
                                    <div class="col-sm-9">
                                        <select ng-model="newProd.marca" ng-options="marca as marca.nombre for marca in marcas" class="form-control m-b" name="marca" >                                            
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-primary btn-circle" type="button" ng-click="doMostrar()"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="{{tresdeStartHiddenClass}}">
                                    <label class="col-sm-2 control-label">Marca:</label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="newProd.marcaNueva" class="form-control" placeholder="Nueva Marca">
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-primary btn-circle" type="button" ng-click="doOcultar()"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                                </div>
                                <div ng-show="newProd.categoria.id=='1'">
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Color:</label>
                                        <div class="col-sm-2"><a colorpicker ng-model="newProd.color"><span class="cerveza-color-left" style="background-color:{{newProd.color || '#000'}};"></span></a></div>
                                        <label class="col-sm-1 control-label">IBU:</label>
                                        <div class="col-sm-2"><input ng-model="newProd.ibu" type="text" class="form-control" placeholder="40"></div>
                                        <label class="col-sm-2 control-label">Alcohol:</label>
                                        <div class="col-sm-3"><div class="input-group m-b"><input ng-model="newProd.alcohol" type="text" placeholder="4" class="form-control"><span class="input-group-addon">%</span></div></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Origen:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" ng-model="newProd.origen" placeholder="Ciudad"></div>
                                    </div>
                                </div>

                                
                            </fieldset>

                            <div class="col-md-12">
                            <button 
                            type="button" 
                            class="btn btn-sm btn-primary pull-right m-t-n-xs" 
                            ng-click="cargarNuevo(newProd.nombre,newProd.categoria,newProd.valor,newProd.costo,newProd.descripcion,newProd.unidad,newProd.marca,newProd.color,newProd.ibu,newProd.alcohol,newProd.origen);" 
                            >
                            Guardar</button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
                </form>

            </div>

        </div>


         
    </div>
    
    </div>
