<div class="modal-body">
    <!-- 
    {
        descripcion:"Pago a Proveedor",
        monto:"5500"
    }
    -->
    <div class="row">
        <div class="col-lg-12">
            <h2>
                Salida de dinero
            </h2>
            <div class="panel-body">

                <fieldset class="form-horizontal">

                    <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
                        <div class="col-sm-10"><textarea rows="5" class="form-control" ng-model="gastoNuevo.descripcion">{{gastoNuevo.descripcion}}</textarea></div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Monto:</label>
                        <div class="col-sm-10">                            
                            <div class="input-group m-b"><span class="input-group-addon">$</span> <input currency-input = "" type="text" ng-model="gastoNuevo.monto" class="form-control">
                            </div>                           
                        </div>
                    </div>
                </fieldset>
                <div class="col-md-12"><button class="btn btn-sm btn-primary pull-right m-t-n-xs" ng-click="guardar(gastoNuevo)" type="submit"><strong>Guardar</strong></button>                                    
            </div>
            </div>
        </div>
    </div>
</div>