<div ng-controller="dashboardCtrl as chart">

<div class="wrapper wrapper-content animated fadeIn" ng-class="{'sk-loading' : cargando}">

    <div ng-show="cargando" class="sk-spinner sk-spinner-double-bounce">
        <div class="sk-double-bounce1"></div>
        <div class="sk-double-bounce2"></div>
    </div>

    <div class="p-w-md m-t-sm">
        <div class="row">

            <div class="col-sm-4 ">
                <h1 class="m-b-xs">
                    {{ datosDashboard.ventasMesActual ? datosDashboard.ventasMesActual : 0 | currency:"$ "}}
                </h1>
                <small>
                    Ventas ultimos siete d&iacute;as
                </small>
                <div class="m-b-sm">
                    <div ng-if="datosDashboard.ultimosSiete" sparkline spark-data="datosDashboard.ultimosSiete" spark-options="chart.sparklineOptions"></div>
                </div>
                <!--
                <div class="row ">
                    <div class="col-xs-4">
                        <small class="stats-label">Cantidad de Clientes</small>
                        <h4>1435</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label">Diferencia</small>
                        <h4>{{1435*100/4604 | number: 2}} %</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label">Mes Anterior</small>
                        <h4>4604</h4>
                    </div>
                </div>
                -->
            </div>
            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    {{ datosDashboard.ventasSemana ? datosDashboard.ventasSemana : 0 | currency:"$ "}}
                </h1>
                <small>
                    Ventas ultimas cuatro semanas
                </small>
                <div class="m-b-sm">
                    <div ng-if="datosDashboard.ultimasCuatroWeeks" sparkline spark-data="datosDashboard.ultimasCuatroWeeks" spark-options="chart.sparklineOptions"></div>
                </div>
                <!--
                <div class="row">
                    <div class="col-xs-4">
                        <small class="stats-label">Cantidad de clientes</small>
                        <h4>630</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label">Diferencia</small>
                        <h4>{{63000/1625 | number: 2}} %</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label">Semana Anterior</small>
                        <h4>1625</h4>
                    </div>
                </div>
                -->

            </div>
            <div class="col-sm-4">

                <div class="row m-t-xs">
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">Ventas Mes Pasado</h5>
                        <h1 style="font-size:22px" class="no-margins">{{ datosDashboard.ventasMesAnterior ? datosDashboard.ventasMesAnterior  : 0 | currency:"$ "}}</h1>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">Ventas año en curso</h5>
                        <h1 style="font-size:22px" class="no-margins">{{ datosDashboard.ventasYear ? datosDashboard.ventasYear  : 0 | currency:"$ "}}</h1>
                        
                    </div>
                </div>


                <table class="table small m-t-sm">
                    <tbody>
                        <tr>
                            <td>
                                <strong>{{ datosDashboard.litrosMes ? datosDashboard.litrosMes : 0}}</strong> Litros de cerveza

                            </td>
                            <td>
                                <strong>{{ datosDashboard.litrosYear ? datosDashboard.litrosYear : 0}}</strong> Litros de cerveza
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>{{ datosDashboard.growlerMes ? datosDashboard.growlerMes : 0}}</strong> Growlers
                            </td>
                            <td>
                                <strong>{{ datosDashboard.growlerYear ? datosDashboard.growlerYear : 0}}</strong> Growlers
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>{{ datosDashboard.cervEmbMes ? datosDashboard.cervEmbMes : 0}}</strong> Botellas de cerveza
                            </td>
                            <td>
                                <strong>{{ datosDashboard.cervEmbYear ? datosDashboard.cervEmbYear : 0}}</strong> Botellas de cerveza
                            </td>
                        </tr>
                    </tbody>
                </table>



            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="small pull-left col-md-3 m-l-lg m-t-md">
                    <strong>Grafico de ventas</strong> anual.
                </div>
                <div class="small pull-right col-md-3 m-t-md text-right">
                    <!--<strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered.-->
                </div>
                <div class="flot-chart m-b-xl">

                    <div class="flot-chart m-b-xl">
                        <div flot class="flot-chart-content" dataset="chart.flotData" options="chart.flotOptions"></div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-lg-8">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins" ng-repeat="local in datosDashboard.stock">
                            <div class="ibox-title">
                                <h5>Stock de Cerveza en "{{local[0]}}"</h5>
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover no-margins">
                                    <thead>
                                        <tr>
                                            <th>Fabrica</th>
                                            <th>Tipo</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr ng-repeat="item in local" ng-if="item.stock > 0 && item.categoria=='Cerveza Tirada'">
                                            <td>{{item.marca}}</td>
                                            <td>{{item.nombre}}</td>
                                            <td class="text-navy"><i class="fa fa-database"></i> {{item.stock}} l.</td>
                                        </tr>
                                        
                                        

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Tendencia de ventas por día</h5>

                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td><pie-chart ng-if="lunesPieChart" data="lunesPieChart.data" options="lunesPieChart.options"></pie-chart></td>
                                            <td>Lunes</td>
                                            <td class="text-navy">{{lunesPieChart.data[0]}} %</td>
                                        </tr>
                                        <tr>
                                            <td><pie-chart ng-if="martesPieChart" data="martesPieChart.data" options="martesPieChart.options"></pie-chart></td>
                                            <td>Martes</td>
                                            <td class="text-navy">{{martesPieChart.data[0]}} %</td>
                                        </tr>
                                        <tr>
                                            <td><pie-chart ng-if="miercolesPieChart" data="miercolesPieChart.data" options="miercolesPieChart.options"></pie-chart></td>
                                            <td>Miercoles</td>
                                            <td class="text-navy">{{miercolesPieChart.data[0]}} %</td>
                                        </tr>
                                        <tr>
                                            <td><pie-chart ng-if="juevesPieChart" data="juevesPieChart.data" options="juevesPieChart.options"></pie-chart></td>
                                            <td>Jueves</td>
                                            <td class="text-navy">{{juevesPieChart.data[0]}} %</td>
                                        </tr>
                                        <tr>
                                            <td><pie-chart ng-if="viernesPieChart" data="viernesPieChart.data" options="viernesPieChart.options"></pie-chart></td>
                                            <td>Viernes</td>
                                            <td class="text-navy">{{viernesPieChart.data[0]}} %</td>
                                        </tr>
                                        <tr>
                                            <td><pie-chart ng-if="sabadoPieChart" data="sabadoPieChart.data" options="sabadoPieChart.options"></pie-chart></td>
                                            <td>Sabado</td>
                                            <td class="text-navy">{{sabadoPieChart.data[0]}} %</td>
                                        </tr>
                                        <tr>
                                            <td><pie-chart ng-if="domingoPieChart" data="domingoPieChart.data" options="domingoPieChart.options"></pie-chart></td>
                                            <td>Domingo</td>
                                            <td class="text-navy">{{domingoPieChart.data[0]}} %</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Notificaciones</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3></i> Alquileres</h3>
                        <small ng-if="datosDashboard.alertaAlquileres.length > 0"><i class="fa fa-exclamation"></i> Hay {{datosDashboard.alertaAlquileres.length}} alquileres que vencen hoy</small>
                        <small ng-if="datosDashboard.alertaAlquileres.length < 1"><i class="fa fa-tim"></i> No hay alquileres registrados</small>
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list">

                            <div class="feed-element" ng-repeat="alquiler in datosDashboard.alertaAlquileres">
                                <div>
                                    <small class="pull-right text-navy"></small>
                                    <strong>{{alquiler.nombreCliente}}</strong>

                                    <div>Alquil&oacute; {{alquiler.nombreEquipo}} - {{alquiler.fecha}}</div>
                                    <small class="text-muted">{{alquiler.estilos}} </small>
                                </div>
                            </div>         

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
</div>