<div class="modal-body">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h1 class="">Venta n&ordm;: {{venta.id}}</h2>
        </div>
        <div class="col-lg-2">                
            <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="cancel()"><i class="fa fa fa-times"></i></button>
</div>
        <div class="col-lg-7">
            <h4 class="">Cliente:</h4>
            <h2 class="nopadding">{{venta.cliente}}</h2>
        </div>
        <div class="col-lg-5">
            <h3 class="pull-right">Fecha: {{venta.fecha}}</h3>
        </div>


    </div>
    <div class="row"> 
        <div class="col-md-12">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>{{venta.items.length}}</strong>) items</span>
                    <h5>Productos</h5>
                </div>

                <div ng-repeat="item in venta.items">
                    
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr>
                                        <td class="text-center" width="90">
                                        {{item.id}}    
                                        </td>
                                        <td class="desc">
                                            <h3 class="nopadding">
                                                <span href="#" class="text-navy">
                                                    {{item.marca}} - {{item.nombre}}
                                                </span>
                                            </h3>
                                            <h5 class="">{{item.tipo}}</h5>
                                            <p class="small">
                                                {{item.descripcion}}
                                            </p>
                                        </td>

                                        <td width="65">
                                            $ {{item.costo}}                                          
                                        </td>
                                        <td width="65">
                                            {{item.cantidad}}
                                        </td>
                                        <td>
                                            <h4>
                                                $ {{item.costo * item.cantidad}}
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="ibox-content">
                    
                    <h2 class="font-bold pull-right">Total $ {{ getTotal() }}</h2>

                    
                </div>
                </div>
        </div>

    </div>
                
            
</div>
</div>
        