<div class="modal-body">
    <!--
                id: '3',
                nombreCliente:'Lucas Del Pozzi',
                vigencia:3,
                codigo:'9658321456258',
                fecha:'2016-08-18 22:23:44.657',
                litros:4.00,
                turnoNumero = 'A14' //Solo en caso de POS
-->
    

    <button class="btn btn-info btn-xs pull-right" type="button" ng-click="cancel()" tooltip-placement="top" uib-tooltip="Cerrar"><i class="fa fa-times"></i></button>

    <div id="printThisElement" class="text-center"> 
    <!-- <Print> -->
    <div id="printBody">
        <img class="cupon-bg-img" src="../img/bh_bg.jpg">
        <row>
        <div class="text-center print-full-width">
            <img alt="image" class="" src="/img/blackhop-isologo.png">
        </div>
        </row>
        <br>
        <h2  class="text-center nopadding print-full-width">
        Cupon de Cerveza
        </h2>
        <br>
        <h1 class="text-center nopadding print-full-width font-huge">
        {{cupon.turnoNumero}}
        </h1>
        <h1 class="text-center print-full-width">
        <ng-pluralize count="cupon.litros" when="{'0': '', 'one': '1 LITRO', 'other': '{} LITROS'}"></ng-pluralize>
        </h1>
        <br>
        <div  class="text-center print-full-width">
        <io-barcode code="{{ cupon.codigo }}" type="{{ barcodeType }}" options="barcodeOptions"></io-barcode>
        </div>
        <br>
        <h3 class="text-center print-full-width small nopadding nomargins">Valido Hasta:</h3><br>
        <h2 class="text-center print-full-width nopadding nomargins ">{{vencimiento}}</h2>
    <hr>
    </div>
    </div>
    <!-- </Print> -->
    
    <div class="col-md-12">
    <button class="pull-right btn btn-primary hide-in-print" ng-print print-element-id="printThisElement">
      <i class="fa fa-print"></i> Imprimir</button>
    </div>
    <hr>
</div>
