<div class="inmodal">
    <div class="modal-body finalizar-venta">

        <h2> Seleccionar barril </h2>
        <hr>

<div class="container"> 
        <div class="row text-center">          
        <div ng-show="alquiler.desde" class="info-alquiler">
          <span class="">
            <strong>Desde:</strong>  {{alquiler.desde}}
          </span>
          <span class="">
            <strong>Hasta:</strong> {{alquiler.hasta}}
          </span>
         </div>
         <div ng-show="!alquiler.desde" class="info-alquiler">
         &nbsp;
         </div>
        </div>

        <div class="row equal">

            <div class="col-md-1">
            <a ng-click="traerCalendario('restar')" id="prev"></a>
            </div>
            <div class="col-md-8">
                <table class="alquileres center-block">
                    <thead>
                        <tr>
                        <th width="100px"></th>
                        <th>L</th>
                        <th>M</th>
                        <th>X</th>
                        <th>J</th>
                        <th>V</th>
                        <th>S</th>
                        <th>D</th>  
                        <th>L</th>
                        <th>M</th>
                        <th>X</th>
                        <th>J</th>
                        <th>V</th>
                        <th>S</th>
                        <th>D</th>  
                        <th>L</th>
                        <th>M</th>
                        <th>X</th>
                        <th>J</th>
                        <th>V</th>
                        <th>S</th>
                        <th>D</th>                        
                        </tr>
                    </thead>
                    
                    <tbody ng-init="mostrarDia=false">
                        <tr ng-repeat="alquilable in alquilables" >
                            <td>{{alquilable.nombre}}</td>
                            <td ng-repeat="dia in alquilable.dias" 
                            style="{{dia.hover}}"
                            ng-if="dia.id < 22"
                            ng-mouseenter="calculateClass(alquilable.id,dia.id);mostrarDia=true"
                            ng-mouseleave="calculateClassAnterior(alquilable.id,dia.id);mostrarDia=false"
                            ng-click="seleccionarBarril(alquilable)"
                            ><span ng-show="mostrarDia">{{dia.diaFecha}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

          <div class="col-md-1">
          <a ng-click="traerCalendario('agregar')"  id="next"></a>
          </div>
       </div> 
     


        <div class="row"></div>
            <div class="modal-footer m-t-sm">

               <div class="col-md-12">
                 <div ng-show="barrilSeleccionado.nombre" class="info-alquiler pull-left ">
                    <span class="">
                      <strong>Barril:</strong>  {{barrilSeleccionado.nombre}}
                    </span>
                    <span class="">
                      <strong>Desde:</strong>  {{barrilSeleccionado.desde}}
                    </span>
                    <span class="">
                      <strong>Hasta:</strong> {{barrilSeleccionado.hasta}}
                    </span>
                  </div>
                <button class="btn btn-primary  pull-right" ng-click="guardarAlquiler()">
                  <i class="fa fa-save"></i> Guardar </button>
              </div>
          </div>
      </div>
  </div>