<div class="modal-body">
    <div class="row">


        <fieldset>
            <form role="form">
                <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Crear Cliente</h3>

                    <p>Datos</p>


                    <input type="text" placeholder="Nomre" class="form-control">              
                    <input type="text" placeholder="Email" class="form-control">              
                    <input type="text" placeholder="Etc" class="form-control">              

                </div>
                <div class="col-sm-6">

                    <input type="text" placeholder="mas" class="form-control"> 

                </div>
            </form>
        </fieldset>


    </div>
</div>
