<div class="modal-body">
   <!-- 
        {
                identificador:1,
                nombre:"Crafter",
                direccion:"Ruta 151 km. 123",
                telefono:"4412345",
                email:"correo@direccion.com.ar",
                mPago:"30 dias F. Factura",
                cuit:"30-12345678/3",
                contacto:"Luciano Marquez",
                telefonoContacto:"2996041216",
                imagen:"img/c1.jpg",
                GIS:null   
            }
        -->

        <div class="panel-body">
            <h3 class="m-t-none m-b">Crear Proveedor</h3>
            <form role="form" class=""> 

                <div class="col-md-12 form-group"><label>Nombre</label>
                    <div><input type="text" placeholder="Nombre" ng-model="newProvNombre" class="form-control"> 
                    </div>
                </div>

                <div class="col-md-12  form-group"><label>Dirección</label>

                    <div><input type="text" placeholder="Calle 123, Neuquen" ng-model="newProvDireccion" class="form-control">
                    </div>
                </div>

                <div class="col-md-5 form-group"><label>Teléfono</label>

                    <div><input type="text" placeholder="2995123456" ng-model="newProvTelefono" class="form-control">
                    </div>
                </div>

                <div class="col-md-7 form-group"><label>Email</label>

                    <div class=""><input type="email" placeholder="email@direccion.com.ar" ng-model="newProvEmail" class="form-control">
                    </div>
                </div>

                <div class="col-md-6 form-group"><label>Metodo de Pago</label>

                    <div class=""><input type="text" placeholder="30 dias F. Factura" ng-model="newProvMetodoPago" class="form-control">
                    </div>
                </div>

                <div class="col-md-6 form-group"><label>CUIT</label>

                    <div class=""><input type="text" placeholder="30-12345678/3" ng-model="newProvCuit" class="form-control">
                    </div>
                </div>

                <div class="col-md-6 form-group"><label>Contacto</label>

                    <div class=""><input type="text" placeholder="Nombre Contacto" ng-model="newProvContacto" class="form-control">

                    </div>
                </div>

                <div class="col-md-6 form-group"><label>Teléfono Contacto</label>

                    <div class=""><input type="text" placeholder="2995123456" ng-model="newProvTelefonoContacto" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <button 
                    type="button" 
                    class="btn btn-sm btn-primary pull-right m-t-n-xs" 

                    ng-click="cargarNuevo(newProvNombre,newProvDireccion,newProvTelefono,newProvEmail,newProvMetodoPago,newProvContacto,newProvTelefonoContacto,newProvCuit)" 
                    ng-disabled="!newProvNombre">
                    Guardar</button>
                </div>

            </form>
        </div>




    </div>
