        <div class="col-md-3 col-lg-3" ng-click="addProduct()">
            <!--ng-class="{'test': obj.value1 == 'someothervalue' || obj.value2 == 'somethingelse'}"-->
            <div class="ibox noselect">
                <div class="ibox-content product-box">   
                    
                    <div class="product-desc">                                
                        <div class="row">
                            <div class="col-md-8">
                                <small class="text-muted">{{producto.marca}}</small>
                                <a class="product-name"> {{producto.nombre}} </a>
                            </div> 
                            <div class="col_md-4">
                                <div class="cerveza-color" style="background-color:{{producto.color}};"></div>
                            </div>
                        </div>
                        <small class="text-muted">Stock : {{producto.stock}} lts.</small>
                    <uib-progressbar class="barra-birra" value="(producto.stock/100*100)" type="{{producto.stock<16 && 'danger' ||producto.stock<50 && 'warning' || ''}}"></uib-progressbar>
                        <small class="text-muted">IBU : {{producto.ibu}}</small><small class="text-muted"> ALC : {{producto.alcohol}}</small>
                    </div>
                    
                </div>
            </div>
        </div>