<div class="col-md-11 col-centered nopadding">
    <div resumen-barra-slim-scroll class="ibox-content" >
        <div class="tab-pane active" ng-show="$parent.clienteSeleccionado">
            <div class="row nopadding">
                <div class="col-lg-12 text-center nopadding">
                    <h2>{{$parent.clienteSeleccionado.nombre}} {{clienteSeleccionado.apellido}}</h2>                                
                </div>
                <div class="col-lg-12 nopadding">
                    <p><strong><i class="fa fa-beer"></i> Litros Cupon:</strong> {{$parent.cuponSeleccionado.litros}} l.</p>
                    <p><strong><i class="fa fa-phone"></i> Telefono:</strong> {{$parent.clienteSeleccionado.telefono}}</p>
                    <p><strong><i class="fa fa-birthday-cake"></i> Cumpleaños:</strong> {{$parent.clienteSeleccionado.fNac}}</p>
                    <strong>Ultima Compra</strong>
                    <ul class="list-group clear-list nopadding">
                        <li class="list-group-item fist-item">
                            <span class="pull-right">{{$parent.clienteSeleccionado.fechaUltimaCompra}}</span>
                            {{$parent.clienteSeleccionado.ultimaCompra}}
                        </li>                                       
                    </ul>
                </div>
            </div>
        </div>   

    </div>

</div>