<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" full-scroll>
        <span close-off-canvas></span>
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element text-center">
                    <img alt="image" class="q-logo" src="img/blackhop_quantum.png"/> 
                </div>
                <div class="logo-element">
                    <img alt="image" class="q-logo" src="img/blackhop-isologo-chico.png"/>                    
                </div>
            </li>
                    
             <li ui-sref-active="active">
                <a ui-sref="pos.point_of_sale"><i class="fa fa-calculator"></i> <span class="nav-label">Punto de Venta</span> </a>
            </li>
             <li ui-sref-active="active">
                <a ui-sref="pos.point_of_sale_barra"><i class="fa fa-calculator"></i> <span class="nav-label">POS - Barra</span> </a>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="app.canillas"><i class="fa fa-beer"></i><span class="nav-label">Canillas</span> </a>
            </li>
        </ul>

    </div>
</nav>