<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand"><img alt="image" class="asd-logo" src="img/blackhop-isologo-chico.png"/></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                <a ui-sref="pos.point_of_sale"><i class="fa fa-calculator"></i> <span class="nav-label">Punto de Venta</span> </a>
            </li>
             <li ui-sref-active="active">
                <a ui-sref="pos.point_of_sale_barra"><i class="fa fa-calculator"></i> <span class="nav-label">POS - Barra</span> </a>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="app.canillas"><i class="fa fa-beer"></i><span class="nav-label">Canillas</span> </a>
            </li>
            </ul>
        </div>
    </nav>
</div>