body {
  background-color: #eee;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
.alquileres{
    cursor: pointer;
}
.alquileres > thead > tr > th {    
    height: 30px;
    width: 30px;
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
    background-color: #F5F5F6;    
    vertical-align: middle;
    text-align: center;
    color:#676a6c;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.42857;

}

.alquileres td {
    min-height: 30px;
    min-width: 30px;
    height: 30px;
    width: 30px;
    border: solid 1px #e7eaec;
    line-height: 1.42857;
    transition: all 350ms;
    background-color: #fff; 
    font-size: 13px;
    color: #676a6c;    
    vertical-align: middle;
    text-align: center;
    color:#fff;
}
.alquileres td:hover {
 
}
.alquileres td:nth-child(1){
    color:#676a6c;
    min-width: 100px;
}
.alquileres .ok {
    background-color: #0f0;
}

.alquileres .alquilado,
.alquileres .no{
    background-color: #f00;
}

.alquileres .warr {
    background-color: #ff0;
}

.alquileres .disponible {
    background-color: #ccc;
}
.info-alquiler{
        color: #676a6c;
        font-size:13px;
        line-height:1.42857143;
        margin-bottom:10px;
        margin-left:0px;
        margin-right:0px;
        margin-top:0px;
}

#next,
#prev {
    color: #333;
    display: inline-block;
    font: normal bold 4em Arial,sans-serif;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: auto;
}

#next,
#prev { padding: 0.5em 1.5em }

#next { text-align: right }

#next:before,
#next:after{
    left: 0;
}
#next:before,
#next:after,
#prev:before,
#prev:after {
    background: #333;
    content: "";
    display: block;
    height: 2px;
    position: absolute;

    top: 50%;
    width: 30px;
}

#prev:before,
#prev:after { right: 0 }

#next:before,
#prev:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#next:after,
#prev:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#prev:after,
#next:before { margin-top: -.36em }

#next:hover,
#next:focus,
#prev:hover,
#prev:focus { color: #c00 }

#next:hover:before,
#next:hover:after,
#next:focus:before,
#next:focus:after,
#prev:hover:before,
#prev:hover:after,
#prev:focus:before,
#prev:focus:after { background: #c00 }

/* container styles  */

nav { text-align: center }